@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #324539;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Cairo', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e2e2e2;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
font-family: "Tahoma", "Geeza Pro", "Arial", sans-serif;
}
